@tailwind base;

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://use.typekit.net/shg3pih.css');

/* purgecss start ignore */
@import '~tiny-slider/dist/tiny-slider.css';
/* purgecss end ignore */

@tailwind components;
@tailwind utilities;